@import url("https://fonts.googleapis.com/css?family=Grand+Hotel|Molengo&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Molengo", sans-serif;
  letter-spacing: 0.1rem;
  height: 100vh;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: #d3cce3; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #e9e4f0, #d3cce3); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #e9e4f0,
    #d3cce3
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.photo-viewer {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2), 0px 0px 5px rgba(0, 0, 0, 0.3);
  width: 800px;
  margin-top: 5rem;
}

#photo-figure {
  position: relative;
  width: 85%;
  height: 100%;
}

#photo {
  width: 100%;
  height: 100%;
}

.thumbnails {
  margin-bottom: 100px;
}

.thumbnailFigure {
  display: flex;
  margin: 3rem;
  justify-content: center;
  position: relative;
}

.thumbnailImage {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  width: 120px;
  height: 120px;
  margin: 0.4rem;
  background: #fff;
  padding: 8px;
  border-radius: 8px;
}

.thumbnailImage:hover {
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5), 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.thumbnailCaption {
  border-radius: 8px;
  position: absolute;
  top: -30px;
  width: 11rem;
  text-align: center;
  padding: 0.25rem 0.75rem;
  font-size: 0.7rem;
  background: #000;
  opacity: 0;
  color: white;
  z-index: 666;
}

#photo-figcaption {
  background: #000;
  color: #fff;
  opacity: 0.6;
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 6rem;
  padding: 0.5rem 1rem;
}

#photo-title {
  font-family: "Grand Hotel", cursive;
  font-size: 2.3rem;
  letter-spacing: 0.6rem;
  text-shadow: 1px 1px #000;
  color: #fff;
  opacity: 1;
}

/* #photo-title,
#photo-description {
  opacity: 1;
} */

.arrow {
  fill: #4e4e4e;
  fill-rule: evenodd;
}

#right-arrow {
  transform: rotateY(3.142rad);
}

.arrow:hover {
  fill: #aaa;
}

button {
  flex: 1;
  height: 100%;
  width: 2.5rem;
  outline: none;
  border: 0px solid #fff;
  background: #e9e4f0; /* fallback for old browsers */
}

button:hover {
  cursor: pointer;
  background: #eee;
}

footer {
  position: fixed;
  bottom: 10px;
  background: #ddd;
  opacity: 0.8;
  width: 70%;
  text-align: center;
  padding: 0.5rem 2rem;
  border-radius: 10px;
}
